* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 1rem;
}

form input {
  padding: 0.2rem;
  margin: 0.5rem;
}

button {
  padding: 0.6rem;
  border: none;
  margin: 1rem;
  border-radius: 10%;
  background-color: turquoise;
  color: white;
}
